/* Specifiche durata delle Transizioni */
:root {
  --dur-fast: 0.15s;
  --dur-base: 0.25s;
  --ease-spring: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Bottone: Font - Bordo - Allineamento - Transizioni */
.btn-linkedin {
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 0.95rem;
  border: 1px solid transparent;
  border-radius: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 2px 12px;
  scale: 1;
  cursor: pointer;
  user-select: none;
  transition:
    color var(--dur-fast) ease,
    background-color var(--dur-fast) ease,
    border-color var(--dur-fast) ease,
    box-shadow var(--dur-fast) ease,
    scale var(--dur-base) var(--ease-spring);
}
/* Bottone: Transizione scale al click */
.btn-linkedin:active {
  scale: 0.97;
  transition-duration: var(--dur-fast);
}

/* VARIANTI TESTO + ICONA */

/* 1. Primary: Background Blu + Testo Bianco */
.btn-primary {
  background-color: #0a66c2;
  color: #ffffff;
  border-color: transparent;
}
.btn-primary:hover {
  background-color: #004182;
}
.btn-primary:active {
  background-color: #002c5c;
}

/* 2. Outline: Background Trasparente + Testo e Bordo Blu */
.btn-outline {
  background-color: transparent;
  color: #0a66c2;
  border-color: #0a66c2;
}
.btn-outline:hover {
  color: #004182;
  background: rgba(10, 102, 194, 0.1);
  box-shadow: inset 0 0 0 1px #004182;
}
.btn-outline:active {
  color: #004182;
  background: rgba(10, 102, 194, 0.16);
}

/* 3. Outline Grey: Background Trasparente + Testo e Bordo Grigio */
.btn-outline-grey {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
  border-color: rgba(0, 0, 0, 0.6);
}
.btn-outline-grey:hover {
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.9);
  border-color: rgba(0, 0, 0, 0.9);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.9);
}
.btn-outline-grey:active {
  color: rgba(0, 0, 0, 0.9);
  background-color: rgba(0, 0, 0, 0.12);
}

/* VARIANTI ICON ONLY */

/* 1. Icon-Only: Background Trasparente + No Bordo */
.btn-icon-only-base {
  padding: 8px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.btn-icon-only {
  background-color: rgba(255, 255, 255, 0.65); /* cambiato la trasparenza in quanto sulla copertina con sfondo nero non si vedeva il pulsante */
  color: rgba(0, 0, 0, 0.6);
  border-color: transparent;
}
.btn-icon-only:hover {
  background-color: rgba(255, 255, 255, 0.80); /* cambiato la trasparenza in quanto sulla copertina con sfondo nero non si vedeva il pulsante */
  color: rgba(0, 0, 0, 0.9);
}
.btn-icon-only:active {
  background-color: rgba(0, 0, 0, 0.12);
}

/* 2. Outline: Background Bianco + Bordo Nero */
.btn-icon-only-outline {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.6);
}
.btn-icon-only-outline:hover {
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.9);
  border-color: rgba(0, 0, 0, 0.9);
}
.btn-icon-only-outline:active {
  background-color: rgba(0, 0, 0, 0.12);
  border-color: rgba(0, 0, 0, 0.9);
}

/* Secondary: Background Bianco + No Bordo */
.btn-icon-only-secondary {
  background-color: rgba(255, 255, 255, 0.75);
  color: rgba(0, 0, 0, 0.6);
  border-color: transparent;
}
.btn-icon-only-secondary:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(0, 0, 0, 0.9);
}
.btn-icon-only-secondary:active {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 1);
}
