.stickyProfileBar {
  top: 45px;
  height: 60px;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.stickyProfileBarContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 16px;
}

.linkedinInfoBtn {
     transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.linkedinInfoBtn:hover {
  background-color: #ebf3fc;
  color: #004182;
  box-shadow: 0 0 0 1px #070707;
}

.stickyAvatar {
  width: 30px;
  height: 30px;
}

.stickyName {
  font-size: 14px;
  line-height: 1.2;
}

.stickyTitle {
  font-size: 12px;
  line-height: 1.2;
}

.stickyBtn {
  font-size: 14px;
  padding: 4px 10px;
  font-weight: 600;
}
